<div class="row" style="margin-top: 200px;">
    <div class="offset-sm-4 col-sm-4">
        <form>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd">
            </div>
        </form>
    </div>
    <div class="offset-sm-4 col-sm-4">
        <a routerLink="dashboard" class="btn btn-primary offset-sm-2">
            Login
        </a>
        <a routerLink="register" class="btn btn-success offset-sm-1">
            Register
        </a>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>