<div class="clr-offset-4 clr-col-6">
    <form clrForm>
        <clr-input-container>
            <label>Email</label>
            <input clrInput type="email" [(ngModel)]="emailId" name="emailId" required/>
            <clr-control-error>Email is required!</clr-control-error>
        </clr-input-container>
        <clr-input-container>
            <label>Password</label>
            <input clrInput type="password" [(ngModel)]="password" name="password" required/>
            <clr-control-error>Password is required!</clr-control-error>
        </clr-input-container>
        <button class="btn" routerLink="/profile" type="button" (click)="registerUser()">Register</button>
    </form>
</div>