<div class="offset-sm-3 col-sm-6">
    <table class="table table-dark">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Project1</td>
                <td>Its about new project</td>
            </tr>
            <tr>
                    <td>2</td>
                    <td>Project2</td>
                    <td>Its about new project2</td>
                </tr>
        </tbody>
    </table>
</div>