<table class="table table-light">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Project</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td> <a routerLink='/project'>Project1</a></td>
            <td>Its about new project</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a routerLink='/project'>Project2</a></td>
            <td> Its about new project2</td>
        </tr>
    </tbody>
</table>