<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <a class="navbar-brand" href="#">AgilePro</a>
  </nav>

  <div class="row" style="margin-top: 200px;">
    <div class="offset-sm-4 col-sm-4">
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" id="pwd">
        </div>
      </form>
    </div>
    <div class="offset-sm-4 col-sm-4">
      <button id="loginButton" type="button" class="btn btn-primary offset-sm-3">Login</button>
      <button id="registerButton" type="button" class="btn btn-success offset-sm-1">Register</button>
    </div>
  </div>
</div>