<clr-main-container>
    <clr-header>
        <div class="branding">
            Agile Pro
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a *ngIf="loginService.isUserLoggedIn()" routerLink="/dashboard" (click)="handleHomeClick()"
                class="active nav-link nav-text">Home</a>
            <a *ngIf="loginService.isUserLoggedIn()" routerLink="/track" (click)="handleTrackClick()"
                class="nav-link nav-text">Track</a>
            <a *ngIf="loginService.isUserLoggedIn()" routerLink="/projects" (click)="handleProjectsClick()"
                class="nav-link nav-text">Projects</a>
            <a *ngIf="loginService.isUserLoggedIn()" routerLink="/settings" (click)="handleSettingsClick()"
                class="nav-link nav-text">Settings</a>
        </div>
        <div class="header-actions">
            <clr-dropdown *ngIf="loginService.isUserLoggedIn()">
                <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                    {{loginService.getLoggedInUser().userName}}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a routerLink="settings" clrDropdownItem (click)="userLogout()">Settings</a>
                    <a routerLink="logout" clrDropdownItem (click)="userLogout()">Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
            <a *ngIf="!loginService.isUserLoggedIn()" routerLink="login" class="nav-link nav-icon-text">
                <span class="nav-text">Login</span>
            </a>
        </div>
    </clr-header>
    <div class="content-container">
        <clr-vertical-nav *ngIf="loginService.isUserLoggedIn()" [clrVerticalNavCollapsible]="true"
            [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="2">
            <div *ngIf="isHomeSelected">
                <a clrVerticalNavLink routerLink="dashboard" routerLinkActive="active" [ngClass]="{'active':isHomeSelected}">
                    <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
                    Dashboard
                </a>
                <div class="nav-divider"></div>
            </div>
            <div *ngIf="isTrackSelected">
                <a clrVerticalNavLink routerLink="backlogs" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
                    Backlogs
                </a>
                <a clrVerticalNavLink routerLink="sprint" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
                    Sprint
                </a>
                <a clrVerticalNavLink routerLink="stories" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
                    Stories
                </a>
                <div class="nav-divider"></div>
            </div>
            <div *ngIf="isProjectsSelected">
                <a clrVerticalNavLink routerLink="projects" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
                    Projects
                </a>
                <a clrVerticalNavLink routerLink="reports" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
                    Reports
                </a>
                <div class="nav-divider"></div>
            </div>
            <div *ngIf="isSettingsSelected">
                <a clrVerticalNavLink routerLink="profile" routerLinkActive="active" [ngClass]="{'active':isSettingsSelected}">
                    <clr-icon clrVerticalNavIcon shape="note"></clr-icon>
                    Profile
                </a>
                <a clrVerticalNavLink routerLink="teams" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
                    Teams
                </a>
                <a clrVerticalNavLink routerLink="invite" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
                    Invite User
                </a>
            </div>
        </clr-vertical-nav>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>