<div class="main-container">
    <header class="header header-5">
        <div class="branding">
          Agile Pro
        </div>
        <div class="header-nav">
            <a href="javascript://" class="active nav-link nav-text">Home</a>
        </div>
        <div class="header-actions">
            <a routerLink="user/login" routerLinkActive="active" class="nav-link nav-icon-text">
                <clr-icon shape="user"></clr-icon>
                <span class="nav-text">Login</span>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
                <router-outlet></router-outlet>
        </div>
    </div>
</div>