<p-tabView>
        <p-tabPanel header="Story Description">
            Story Description
        </p-tabPanel>
        <p-tabPanel header="Tasks">
            <table class="table table-light">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Task</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td> <a routerLink='/task'>Task1</a></td>
                        <td>Its about new Task1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a routerLink='/task'>Task2</a></td>
                        <td> Its about new task2</td>
                    </tr>
                </tbody>
            </table>
        </p-tabPanel>
    </p-tabView>
