<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Projects</button>
        <clr-tab-content id="content1" *clrIfActive="true">
            <div class="clr-row clr-justify-content-end">
                <div class="clr-col-2">
                    <button class="btn btn-sm btn-icon btn-info" (click)="showAddProjectModal()" title="New Project">
                        <clr-icon shape="plus"></clr-icon>
                    </button>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col">

                    <clr-datagrid [(clrDgSelected)]="selected">
                        <clr-dg-column>No.</clr-dg-column>
                        <clr-dg-column>Project</clr-dg-column>
                        <clr-dg-column>Description</clr-dg-column>
                        <clr-dg-column>Edit</clr-dg-column>
                        <clr-dg-column>Status</clr-dg-column>
                        <clr-dg-row *clrDgItems="let project of projects" [clrDgItem]="project">
                            <clr-dg-cell>{{project.projectId}}</clr-dg-cell>
                            <clr-dg-cell><a routerLink='/project/{{project.projectId}}'>{{project.name}}</a>
                            </clr-dg-cell>
                            <clr-dg-cell>{{project.description}}</clr-dg-cell>
                            <clr-dg-cell>
                                <clr-icon shape="pencil" (click)="showAddProjectModal()" title="Edit Project">
                                </clr-icon>
                            </clr-dg-cell>
                            <clr-dg-cell>
                                <span [ngClass]="{'label':true, 
                                    'label-warning':project.status=='TODO' , 
                                    'label-info':project.status=='IN_PROGRESS' , 
                                    'label-success':project.status=='COMPLETED' , 
                                    'label-error':project.status=='ACCEPTED'}">{{project.status}}</span>
                            </clr-dg-cell>
                        </clr-dg-row>
                        <clr-dg-footer>
                            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Projects per page
                                </clr-dg-page-size>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{pagination.totalItems}} users
                            </clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
<clr-modal [(clrModalOpen)]="isShowAddProjectModal">
    <h3 class="modal-title">Add Project</h3>
    <div class="modal-body">
        <div>
            <form clrForm>
                <clr-input-container>
                    <label>Name</label>
                    <input clrInput type="text" [(ngModel)]="project.name" name="name" required />
                </clr-input-container>
                <clr-select-container>
                    <label>Status</label>
                    <select clrSelect [(ngModel)]="project.status" name="status">
                        <option *ngFor="let item of statusValues | keyvalue" [value]="item.key">{{item.value}}</option>
                    </select>
                </clr-select-container>
                <clr-textarea-container>
                    <label>Description</label>
                    <textarea clrTextarea [(ngModel)]="project.description" name="description" required></textarea>
                </clr-textarea-container>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="isShowAddProjectModal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="createProject()">Add</button>
    </div>
</clr-modal>