<p-tabView>
    <p-tabPanel header="Project Description">
        Project Description
    </p-tabPanel>
    <p-tabPanel header="Features">
        <table class="table table-light">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Feature</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>1</td>
                    <td> <a routerLink='/feature'>Feature1</a></td>
                    <td>Its about new feature1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a routerLink='/feature'>Feature2</a></td>
                    <td> Its about new feature2</td>
                </tr>
            </tbody>
        </table>
    </p-tabPanel>
</p-tabView>