<div class="clr-offset-4 clr-col-6">
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">User Profile</h3>
            <div class="card-text">
                <form clrForm>
                    <clr-input-container>
                        <label>Company</label>
                        <input clrInput type="text" [(ngModel)]="company" name="company" required />
                        <clr-control-error>Company is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Phone</label>
                        <input clrInput type="text" [(ngModel)]="phone" name="phone" required />
                        <clr-control-error>Phone is required!</clr-control-error>
                    </clr-input-container>
                    <clr-input-container>
                        <label>Country</label>
                        <input clrInput type="text" [(ngModel)]="country" name="country" required />
                        <clr-control-error>Country is required!</clr-control-error>
                    </clr-input-container>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn" routerLink="/projects" type="button" (click)="getProjects()">Save</button>
        </div>
    </div>
</div>