<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Dashboard</button>
        <clr-tab-content id="content1" *clrIfActive="true">
            <div class="clr-row">
                <div class="clr-col-lg-4 clr-col-12" *ngFor="let project of projects">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">
                                <a routerLink='/project/{{project.projectId}}'>{{project.name}}</a>
                            </h3>
                            <p class="card-text">
                                {{project.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Progress</button>
        <clr-tab-content>
            Show current progress here.
        </clr-tab-content>
    </clr-tab>
</clr-tabs>