<div class="login-wrapper">
        <form class="login">
            <section class="title">
                <h3 class="welcome">Login</h3>
            </section>
            <div class="login-group">
                <clr-input-container>
                    <label class="clr-sr-only">Email</label>
                    <input type="text" [(ngModel)]="user.username" name="username" clrInput placeholder="Email" />
                </clr-input-container>
                <clr-password-container>
                    <label class="clr-sr-only">Password</label>
                    <input type="password" [(ngModel)]="user.password" name="password" clrPassword placeholder="Password" />
                </clr-password-container>
                <clr-checkbox-wrapper>
                    <label>Remember me</label>
                    <input type="checkbox" name="rememberMe" clrCheckbox />
                </clr-checkbox-wrapper>
                <a routerLink="/login" class="btn btn-primary" (click)="loginUser()">Login</a>
                <a routerLink="/register" class="signup">Register</a>
            </div>
        </form>
    </div>