<p-tabView>
        <p-tabPanel header="Feature Description">
           Feature Description
        </p-tabPanel>
        <p-tabPanel header="Stories">
                <table class="table table-light">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Story</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td> <a routerLink='/story' >Story1</a></td>
                                <td>Its about new story1</td>
                            </tr>
                            <tr>
                                    <td>2</td>
                                    <td><a routerLink='/story'>Story2</a></td>
                                    <td> Its about new story2</td>
                                </tr>
                        </tbody>
                    </table>
        </p-tabPanel>
    </p-tabView>
<div class="offset-sm-3 col-sm-6">
    
</div>